BASEURL=http://gp/

DB_DRIVE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PSW=
DB_BDADOS=gpdb

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SMTPSECURE=tls
MAIL_SMTP_AUTH=true
MAIL_USER=
MAIL_SENHA=
MAIL_NOME=Projeto GP
