# Ativa o motor de reescrita
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Se não for um arquivo real e não for uma pasta real
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redireciona tudo para public/index.php
    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>